---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class="h-full mx-auto bg-black 2xl:max-w-7xl font-display">
		<section class="relative flex items-center">
  <div class="relative max-w-3xl p-4 py-24 sm:p-20 lg:p-28">
    <div class="space-y-24">
      <div class="space-y-3">
        <h1 class="text-base font-light leading-none text-white">
          A minimal starting template for Astro and Tailwind CSS
		</h1>
		<p class="text-base font-light leading-none text-white">
         Created by Michael Andreuzza
        </p>
        <hr
          class="border border-dotted border-b-transparent border-x-transparent border-white/10"
        />
        <p>
          <a
            class="font-light no-underline text-[#707070] hover:text-white"
            href="https://michaelandreuzza.com"
            >michaelandreuzza.com</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
	</body>
</html>
